*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.calculator {
    background: black;
    padding: 15px;
    border-radius: 30px;
}
.calculator form input {
    width: 55px;
    height: 60px;
    margin: 10px;
    border-radius: 20px;
    font-size: 20px;
    outline: 0;
    border: 0;
    color: white;
    cursor: pointer;
}
form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input {
    text-align: right;
    font-size: 45px;
    box-shadow: none;
    width: 300px;
    background-color: black;
}
#equal-to {
    width: 130px;
}
.operand {
    background-color: orange;
    color: white;
}
.other {
    background-color: gray;
}
.cancel {
    background-color: sienna;
}
.operand:hover {
    background-color: white;
    color: orange;
}
.cancel:hover{
    background-color: white;
    color: sienna;
}
.other:hover {
    background-color: rgb(168, 162, 162);
}
footer {
    margin-bottom: 10px;
    text-align: center;
}
h4{
    font-size: 20px;
}
@media(max-width:480px){
    .calculator{
        border-radius: 0px;
        height: max-content;
    }
}